<div>
  <div *ngIf="loading">Loading users...</div>
  <div *ngIf="error" class="error">{{error}}</div>
  <table *ngIf="!loading && users.length">
    <thead>
      <tr><th>Name</th><th>Age</th><th>City</th><th>State</th><th>Pincode</th></tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users">
        <td>{{u.name}}</td>
        <td>{{u.age}}</td>
        <td>{{u.city}}</td>
        <td>{{u.state}}</td>
        <td>{{u.pincode}}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!loading && users.length===0">No users found.</div>
</div>
